* {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 10px;
}
body {
  background-color: #f7f7f7;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.container {
  padding: 20px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: 300px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.form {
  width: 100%;

  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  font-size: 14px;
  margin: 10px;
  font-weight: 600;
}
input {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 15px;
  padding: 8px 12px;
  background-color: rgb(65, 65, 236);
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  cursor: pointer;
  background-color: rgb(74, 74, 238);
}

#result {
  font-size: 24px;
  font-weight: bold;
}
